.main-profile-card {
    border: solid 2px blue;
    height: 100%;
    width: auto;

    /* background-color: hsl(235, 46%, 20%); */

    display: grid;


}

.report-card {
    border: solid 2px red;
    height: auto;
    width: 100%;
    overflow: hidden;
    /* background-color: hsl(246, 80%, 60%); */

    display: grid;
    grid-row: 1 / 4;
}

.buttons-card {
    border: solid 2px black;
    height: auto;
    width: 100%;
    overflow: hidden;

    display: grid;
    grid-row: 4;
    justify-content: center;
    align-items: center;
}