<div class="main-tracking-cards">
    <ul class="info-cards">
        <li class="one">
            <div class="header" id="one"><img src="/assets/icon-work.svg"></div>
        </li>
        <li class="two">
            <div class="header" id="two">Play</div>
        </li>
        <li class="three">
            <div class="header" id="three">Study</div>
        </li>
        <li class="four">
            <div class="header" id="four">Exercise</div>
        </li>
        <li class="five">
            <div class="header" id="five">Social</div>
        </li>
        <li class="six">
            <div class="header" id="six">Self Care</div>
        </li>
    </ul>
</div>